<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345454492227-qv6k7bp4cjimhusk7bjd93kib14fpul8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345454492227-qv6k7bp4cjimhusk7bjd93kib14fpul8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345454492227-bvi4r1gurn6nt0hmigjp87astmsdvt8p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIg9tthuryOiuS76Cgk9gOYpPVQg-Z7Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>345454492227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resonai.vera</string>
	<key>PROJECT_ID</key>
	<string>yowza3d</string>
	<key>STORAGE_BUCKET</key>
	<string>yowza3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345454492227:ios:612e51ce694537e3ea32f6</string>
	<key>DATABASE_URL</key>
	<string>https://yowza3d.firebaseio.com</string>
</dict>
</plist>